@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Passion+One&display=swap');
section {
    width: 100%;
    /* border: red solid 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

section .row {
    max-width: 1100px;
}

section p,
section b {
    font-size: 1.2rem;
    font-family: 'Cairo', sans-serif;
}

article h1 {
    font-weight: bolder;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    font-family: 'Passion One', cursive;
    letter-spacing: 1.5px;
    color: rgb(2, 107, 2);
}

article h2 {
    font-weight: bolder;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
    margin: 1rem 0;
    color: rgb(2, 107, 2);
}

.Contact {
    position: absolute;
    right: 0;
    top: 7px;
    width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Contact ul {
    list-style-type: none;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.Contact ul li {
    margin: 0 0.8rem;
}

.Contact ul a {
    color: black;
    font-size: 1.11rem;
}

.Contact ul li button {
    background-color: white;
    border: none;
    padding: 0 !important;
}

.Imagesec {
    border-right: rgb(235, 235, 235) solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul.link-wrapper {
    position: relative;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
}

ul.link-wrapper a {
    width: 45%;
    padding: 10px;
    color: black;
}

ul.link-wrapper a:hover {
    color: rgb(9, 139, 162);
    text-decoration: none;
}