.MovieList {
    /* border: blueviolet solid 2px; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.MovieList .movie {
    /* border: red solid 2px; */
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.movie .vote_average {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 1rem;
    opacity: 0;
    padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    z-index: 5;
    border-radius: 50%;
    background-color: rgb(22, 230, 22);
}

.MovieList .movie img {
    width: 200px;
    height: 280px;
}

.movie .movie_title {
    color: white;
    position: absolute;
    bottom: -13px;
    height: 15px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 8;
    background-color: red;
    width: 100%;
    transition: 350ms ease;
    text-align: center;
    opacity: 0;
    padding-bottom: 10px;
}

.MovieList .movie:hover .movie_title {
    opacity: 1;
}

.MovieList .movie:hover .vote_average {
    opacity: 1;
}