@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Passion+One&display=swap');
section p {
    font-size: 1.2rem;
    font-family: 'Cairo', sans-serif;
}

article h1 {
    font-weight: bolder;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    font-family: 'Passion One', cursive;
    letter-spacing: 1.5px;
}

article h2 {
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1.4rem;
}

.yellow {
    color: rgb(206, 206, 7);
}

.red {
    color: red;
}

article h1 span {
    margin-right: -6px;
}

.icons_sec {
    position: absolute;
    right: 0;
    top: 7px;
    width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons_sec ul {
    list-style-type: none;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.icons_sec ul li {
    margin: 0 0.8rem;
}

.icons_sec ul a {
    color: black;
    font-size: 1.11rem;
}

.icons_sec ul li button {
    background-color: white;
    border: none;
    padding: 0 !important;
}